Repository abenezer-ayalneh/spare-flow-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --cache --fix

feat: edit item price, check token provider, and display user's info
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/layouts/full/vertical/header/header.component.html
  src/app/layouts/full/vertical/header/header.component.ts
  src/app/pages/items/components/add-item/add-item.component.html
  src/app/pages/items/components/add-item/add-item.component.scss
  src/app/pages/items/components/add-item/add-item.component.spec.ts
  src/app/pages/items/components/add-item/add-item.component.ts
  src/app/pages/items/components/edit-price/edit-price.component.html
  src/app/pages/items/components/edit-price/edit-price.component.scss
  src/app/pages/items/components/edit-price/edit-price.component.spec.ts
  src/app/pages/items/components/edit-price/edit-price.component.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.service.ts
  src/app/pages/shelves/components/add-or-edit-shelves/add-or-edit-shelves.component.html
  src/app/shared/models/item.model.ts
  src/app/shared/providers/player.provider.ts
  src/app/shared/services/user.service.spec.ts
  src/app/shared/services/user.service.ts
  src/assets/i18n/en.json
Due: eslint --fix

feat: increment item quantity
  src/app/pages/items/components/edit-item/edit-item.component.ts
  src/app/pages/items/components/edit-quantity/edit-quantity.component.html
  src/app/pages/items/components/edit-quantity/edit-quantity.component.scss
  src/app/pages/items/components/edit-quantity/edit-quantity.component.spec.ts
  src/app/pages/items/components/edit-quantity/edit-quantity.component.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.ts
  src/app/pages/items/items.service.ts
  src/app/pages/items/types/item-list.type.ts
  src/assets/i18n/en.json
Due: eslint --fix

feat: sell item
  src/app/pages/items/components/sell-item/dto/create-sales.dto.ts
  src/app/pages/items/components/sell-item/sell-item.component.html
  src/app/pages/items/components/sell-item/sell-item.component.scss
  src/app/pages/items/components/sell-item/sell-item.component.spec.ts
  src/app/pages/items/components/sell-item/sell-item.component.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.service.ts
  src/assets/i18n/en.json
Due: eslint --fix

fix: search functionality for items list
  src/app/pages/items/components/edit-item/edit-item.component.ts
  src/app/pages/items/components/edit-price/edit-price.component.ts
  src/app/pages/items/components/edit-quantity/edit-quantity.component.ts
  src/app/pages/items/components/sell-item/sell-item.component.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.ts
  src/app/pages/items/items.service.ts
  src/app/pages/items/types/item-list.type.ts
  src/assets/i18n/en.json
Due: eslint --fix

feat: implement logout, integrate check token endpoint to get user info
  src/app/layouts/full/vertical/header/header.component.html
  src/app/layouts/full/vertical/header/header.component.ts
  src/app/pages/authentication/authentication.service.ts
  src/app/pages/authentication/sign-in/sign-in.component.ts
  src/app/pages/users/users.component.html
  src/assets/i18n/en.json
Due: eslint --fix

fix: align items table action icons
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.scss
Due: none

feat: implement add to cart feature
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.html
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.scss
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.spec.ts
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.ts
  src/app/pages/items/components/add-item-to-cart/dto/add-item-to-cart.dto.ts
  src/app/pages/items/components/sell-item/dto/create-sales.dto.ts
  src/app/pages/items/components/sell-item/sell-item.component.html
  src/app/pages/items/components/sell-item/sell-item.component.scss
  src/app/pages/items/components/sell-item/sell-item.component.spec.ts
  src/app/pages/items/components/sell-item/sell-item.component.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.ts
  src/app/pages/items/items.service.ts
  src/assets/i18n/en.json
Due: eslint --fix

feat: implement multiple item sales at once feature
  .eslintcache
  package-lock.json
  package.json
  src/app/layouts/full/vertical/sidebar/nav-item/nav-item.component.ts
  src/app/pages/authentication/forgot-password/forgot-password.component.ts
  src/app/pages/authentication/lockscreen/lockscreen.component.ts
  src/app/pages/authentication/register/register.component.ts
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.html
  src/app/pages/items/components/add-item-to-cart/add-item-to-cart.component.ts
  src/app/pages/items/components/cart/cart.component.html
  src/app/pages/items/components/cart/cart.component.scss
  src/app/pages/items/components/cart/cart.component.spec.ts
  src/app/pages/items/components/cart/cart.component.ts
  src/app/pages/items/components/cart/cart.service.spec.ts
  src/app/pages/items/components/cart/cart.service.ts
  src/app/pages/items/components/cart/dto/create-sales.dto.ts
  src/app/pages/items/components/cart/types/cart-item.type.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.ts
  src/app/shared/enums/page-state.enum.ts
  src/assets/i18n/en.json
  tailwind.config.js
Due: eslint --fix, eslint --cache --fix

chore: change build output path to dist
  angular.json
Due: none

fix: fix build issues
  .gitignore
  src/app/layouts/full/vertical/sidebar/nav-item/nav-item.component.html
  src/app/layouts/full/vertical/sidebar/nav-item/nav-item.ts
Due: eslint --fix

fix: set new production api url
  src/environments/environment.production.ts
Due: eslint --fix

fix: add file replacement config for production and development builds
  angular.json
Due: none

feat: enable admin to create and update user password
  src/app/pages/users/components/add-or-edit-user/add-or-edit-user.component.html
  src/app/pages/users/components/add-or-edit-user/add-or-edit-user.component.ts
  src/app/pages/users/components/update-password/update-password.component.html
  src/app/pages/users/components/update-password/update-password.component.scss
  src/app/pages/users/components/update-password/update-password.component.spec.ts
  src/app/pages/users/components/update-password/update-password.component.ts
  src/app/pages/users/dto/create-user.dto.ts
  src/app/pages/users/users.component.html
  src/app/pages/users/users.service.ts
  src/app/pages/users/validators/match-validator.spec.ts
  src/app/pages/users/validators/password-match-validator.ts
  src/app/shared/components/form-error-message/form-error-message.component.html
  src/assets/i18n/en.json
Due: eslint --fix

refactor: consider modals to have optional data
  src/app/pages/shelves/components/add-or-edit-shelves/add-or-edit-shelves.component.ts
  src/app/pages/stores/components/add-or-edit-store/add-or-edit-store.component.ts
  src/app/pages/users/components/add-or-edit-user/add-or-edit-user.component.ts
Due: eslint --fix

feat: implement role-based access control
  src/app/app.module.ts
  src/app/layouts/full/full.component.html
  src/app/layouts/full/full.component.ts
  src/app/layouts/full/vertical/header/header.component.html
  src/app/layouts/full/vertical/sidebar/branding.component.ts
  src/app/layouts/full/vertical/sidebar/nav-item/nav-item.ts
  src/app/layouts/full/vertical/sidebar/sidebar-data.ts
  src/app/layouts/full/vertical/sidebar/sidebar.component.html
  src/app/pages/authentication/authentication.service.ts
  src/app/pages/items/components/cart/cart.service.ts
  src/app/pages/items/items.component.html
  src/app/pages/items/items.component.ts
  src/app/pages/items/items.service.ts
  src/app/pages/pages.routing.module.ts
  src/app/pages/shelves/shelves.service.ts
  src/app/pages/stores/stores.service.ts
  src/app/pages/users/components/add-or-edit-user/add-or-edit-user.component.ts
  src/app/pages/users/users.service.ts
  src/app/shared/directives/is-granted.directive.spec.ts
  src/app/shared/directives/is-granted.directive.ts
  src/app/shared/enums/role.enum.ts
  src/app/shared/guards/role.guard.spec.ts
  src/app/shared/guards/role.guard.ts
  src/app/shared/interceptors/base-url.interceptor.spec.ts
  src/app/shared/interceptors/base-url.interceptor.ts
  src/app/shared/interceptors/http-errors.interceptor.ts
  src/app/shared/services/rbac.service.spec.ts
  src/app/shared/services/rbac.service.ts
  src/app/shared/services/user.service.ts
  src/assets/i18n/en.json
  src/assets/images/logos/logo-dark.svg
  src/assets/images/logos/logo-light.svg
  src/environments/environment.development.ts
  src/environments/environment.production.ts
  src/environments/environment.ts
Due: eslint --fix

feat: add transaction log feature and update sidebar navigation
  src/app/layouts/full/vertical/sidebar/sidebar-data.ts
  src/app/pages/pages.routing.module.ts
  src/app/pages/stores/stores.component.ts
  src/app/pages/transaction-log/transaction-log.component.html
  src/app/pages/transaction-log/transaction-log.component.scss
  src/app/pages/transaction-log/transaction-log.component.spec.ts
  src/app/pages/transaction-log/transaction-log.component.ts
  src/app/pages/transaction-log/transaction-log.service.spec.ts
  src/app/pages/transaction-log/transaction-log.service.ts
  src/app/pages/transaction-log/types/transaction-log-table.type.ts
  src/app/shared/models/transaction-log.model.ts
  src/assets/i18n/en.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  eslint --cache --fix: any of: *.js
